.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    font-weight: bold;
}

.task-message {
    background-color: white;
    color: black;
    padding: 1rem 1rem;
    text-align: left-align;
    font-weight: italic;
}

.tasks {
    font-weight: italic;
}
